src/main/resources/templates/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://moonshot.com/employees"
           targetNamespace="http://moonshot.com/employees"
           elementFormDefault="qualified">

    <xsd:element name="EmployeeDTO">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:long"/>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="position" type="xsd:string"/>
                <xsd:element name="baseSalary" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>